@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*{box-sizing:border-box}
html,body{height:100%}

body{ 
    margin:0;
    background: linear-gradient(90deg, #000000 0%, #ffffff 900%);
    color: #000000;
    flex-direction: column;
   


}

.press-start{
    font-family: 'Press Start 2P', cursive;
    color:#ffffff;
    margin-top: 100px;
    display: inline-block;
    border: 10px solid;
    border-radius: 20000px ;
    border-color: #a7a3a3;
    padding: 10px 40px ;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: #ffffff 0px 0px 20px 5px;

}

.container{
  display:flex;
    flex-direction: column;
    align-items: center;
}

.lead{
    font-family: 'Press Start 2P', cursive;
    color:#a7a3a3;
    margin-top: -20px;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.subheaders{
    font-size: larger  ;
    font-family:'Space Mono', monospace;
    color :#ffffff;
    margin-top: 150px;
    margin-left: 40px;
}

.words{
    font-family: 'Space Mono', monospace;
    color:#ffffff;
    margin-left: 60px;
    margin-top: 0px;
    font-size: large;
    text-align: left;
    max-width: 900px;
}

.topic-name{
    font-size:larger ;
}

    
