@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*{box-sizing:border-box}
html,body{height:100%}

body{ 
    margin:0;
    background: linear-gradient(90deg, #000000 0%, #ffffff 900%);
    color: #000000;
    flex-direction: column;
   


}

.press-start{
    font-family: 'Press Start 2P', cursive;
    color:#ffffff;
    margin-top: 100px;
    display: inline-block;
    border: 10px solid;
    border-radius: 20000px ;
    border-color: #a7a3a3;
    padding: 10px 40px ;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: #ffffff 0px 0px 20px 5px;

}

.container{
  display:flex;
    flex-direction: column;
    align-items: center;
}

.lead{
    font-family: 'Press Start 2P', cursive;
    color:#a7a3a3;
    margin-top: 20px;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.subheaders{
    font-size: larger  ;
    font-family:'Space Mono', monospace;
    color :#ffffff;
    margin-top: 80px;
    margin-left: 40px;
}

.words{
    font-family: 'Space Mono', monospace;
    color:#ffffff;
    margin-left: 60px;
    margin-top: 0px;
    font-size: large;
    text-align: left;
    max-width: 900px;
}

.topic-name{
    font-size:larger ;
}

.contact ul{
    list-style:none;
    padding:0;
    margin:0
}

.contact li{
    margin:.4rem 0;
    color:#707070
}

.contact a{
    color:#52575e
}

.site-footer{
    margin-top:2.5rem;
    padding:1rem 0;
    color:#5c5c5c;
    text-align:center;
    font-size:.9rem;
  font-family:'Space Mono', monospace;
    width:100%;
    background:transparent;
}

.site-footer .contact{
    margin-bottom:.5rem
}

.site-footer .contact ul{
    display:flex;
    flex-direction:row;
    gap:1rem;
    justify-content:center;
    align-items:center;
    padding:0;margin:0;
    list-style:none
}
.site-footer .contact li{
    margin:0;
    color:#5c5c5c
}
.site-footer .contact a{
    color:#ffffff;
    text-decoration:none
}

.page-topics{
    color:#ffffff;
    font-family:'Space Mono', monospace;
    text-decoration: none;
    text-align: right;
    align-items: right;
    margin-top: 90px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg rgb(0, 0, 0), transparent);
    display:inline-block;
    float : right ;
    border: #ffffff 3px solid;
    
    
}

.tlink{
    color:#ffffff;
    font-family:'Space Mono', monospace;
    text-decoration: none;
    text-align: right;
    align-items: right;
   
}

    
