@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{box-sizing:border-box}
html,body{height:100%}

body{ 
    margin:0;
    background: linear-gradient(90deg, #000000 0%, #ffffff 900%);
    color: #000000;
    flex-direction: column;
   


}

.press-start{
    font-family: 'Press Start 2P', cursive;
    color:#ffffff;
    margin-top: 100px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column
}

.lead{
    font-family: 'Press Start 2P', cursive;
    color:#a7a3a3;
    margin-top: -20px;
   display:flex;
   flex-direction: column;
   align-items: center;
}